* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "consolas", sans-serif;
}

.font-weight400 {
    font-weight: 400 !important;
}

#slider {
    padding-top: 132px;
}

.wrapper-background {
    height: 100px;
    width: 100%;
    background-color: #fafafa;
    display: flex;
    position: absolute;
    top: 75px;
}

.app--wrapper {
    width: 100%;
    max-width: 1280px;
    margin: 0px auto 0px auto;
    box-shadow: 0 4px 10px 0 rgba(0,0,0,0.2), 0 4px 20px 0 rgba(0,0,0,0.19);
    border-radius: 15px;
    display: flex;
    position: relative;
    background-color: white;
}

.app--wrapper::before {
    display: block;
    content: " ";
    position: absolute;
    height: 289px;
    width: 1px;
    background-color: #e0e0e0;
    top: 56px;
    right: 51%;
}

.app--wrapper__Text-to-Speech {
    width: 50%;
}

.app--wrapper__Speech-to-Text {
    width: 50%;
}

.text-to-speech__header {
    height: 50px;
    margin-top: 6px;
    line-height: 50px;
    color: #5e6062;
    margin-left: 24px;
    position: relative;
}

.text-to-speech__header::before {
    display: block;
    content: " ";
    position: absolute;
    width: calc(100% + 24px);
    height: 1px;
    bottom: 0;
    font-size: 18px;
    left: -24px;
    background-color: #e0e0e0;
}

.text-to-speech__header h2 {
    display: flex;
    align-items: center;
    font-size: 27px;
}

.text-to-speech__header-icon {
    font-size: 20px;
    font-weight: 500;
    position: relative;
    margin-left: 18px;
    padding: 8px;
    line-height: 20px;
}

.text-to-speech__header-story {
    cursor: pointer;
    z-index: 5;
}

.story-feature {
    position: absolute;
    width: 109px;
}

.text-to-speech__header-story:hover .story-feature {
    display: block;
    animation: featuresEmerge ease-in 0.2s;
    /* animation-delay: 0.1s; */
}

/* .text-to-speech__header-storylist {
    position: absolute;
    left: 42px;
    top: -3px;
} */

#text-to-speech__header-story-list {
    width: 136px;
    height: 22px;
    padding-left: 5px;
    position: absolute;
    font-size: 14px;
    left: 55px;
    top: 6px;
    display: none;
}

#text-to-speech__header-story-list:focus-visible {
    border-color: rgb(118 118 118);
}

.text-to-speech__header-story-listItem {
    height: 20px;
    padding: 7px;
}

.text-to-speech__main {
    height: 288px;
    position: relative;
    margin: 0 24px;
}

#text-to-speech__input {
    max-width: 100%;
    min-width: 100%;
    max-height: calc(100% - 70px);
    min-height: calc(100% - 70px);
    padding: 10px;
    font-size: 18px;
    border: none;
    margin-top: 12px;
}

#text-to-speech__input:focus {
    outline: 1px solid #dddddd;
    border-radius: 4px;
}

.text-to-speech__input:focus-visible {
    border: 1px solid #dddddd;
} 

#text-to-speech__input2 {
    max-width: 100%;
    min-width: 100%;
    max-height: calc(100% - 70px);
    min-height: calc(100% - 70px);
    padding: 10px;
    font-size: 18px;
    border: none;
    margin-top: 12px;
}

#text-to-speech__input2:focus {
    outline: 1px solid #dddddd;
    border-radius: 4px;
}

.text-to-speech__input2:focus-visible {
    border: 1px solid #dddddd;
} 

.speech-to-text__input:focus-visible {
    outline: 1px solid #dddddd;
    border-radius: 4px;
}

.text-to-speech_speaker {
    display: flex;
    width: 100px;
    margin-top: 18px;
    position: absolute;
    left: 0;
    top: 220px;
}

.text-to-speech_speaker-btn {
    width: 44px;
    font-size: 28px;
    height: 44px;
    border: none;
    background-color: transparent;
    border-radius: 50%;
    cursor: pointer;
}

@keyframes fadeVolume {
    0% {
        transform: scale(1.10);
    }

    20% {
        transform: scale(1.2);
    }
}

.not-first-btn {
    margin-left: 9px;
}

.listen-btn:focus {
    animation: fadeVolume 0.7s infinite;
    background-color: rgb(224 224 224);
}

.text-to-speech_speaker-btn:hover {
    background-color: rgb(224 224 224);
    /* animation: fadeVolume 0.5s infinite; */
}

.text-to-speech_speaker-icon {
    font-size: 20px;
    width: 30px;
    height: 30px;
    color: #5e6062;
}

.speech-to-text__main {
    height: 288px;
    margin: 0 24px 0px 0px;
    position: relative;
}

.speech-to-text__header {
    margin-top: 6px;
    height: 50px;
    line-height: 50px;
    color: #5e6062;
    margin-right: 24px;
    position: relative;
}

.speech-to-text__header::before {
    display: block;
    content: " ";
    position: absolute;
    width: calc(100% + 24px);
    height: 1px;
    bottom: 0;
    background-color: #e0e0e0;
}

.speech-to-text__header h2 {
    display: flex;
    font-size: 27px;
    align-items: center;
}

.speech-to-text__input {
    max-width: 100%;
    min-width: 100%;
    max-height: calc(100% - 70px);
    min-height: calc(100% - 70px);
    padding: 10px;
    font-size: 18px;
    border: none;
    margin-top: 12px;
}

.speech-to-text__buttons {
    display: flex;
    margin-top: 18px;
    position: absolute;
    left: 0;
    top: 220px;
    border-radius: 50%;
    font-weight: 400;
}

.speech-to-text__buttons:hover {
    background-color: rgb(224 224 224);
}

.speech-to-text_copy-btn {
    width: 44px;
    font-size: 28px;
    height: 44px;
    border: none;
    background-color: transparent;
    border-radius: 50%;
    cursor: pointer;
    display: block;
}

.active-btn {
    position: relative;
}

.btn-features {
    top: 118%;
    left: -26px;
    color: white;
    background-color: rgb(70 65 65);
    border-radius: 4px;
    box-shadow: 2px 2px 3px #ccc;
    display: none;
    z-index: 1;
}

@keyframes featuresEmerge {
    from {
        transform: scale(0.8);
        opacity: 0;
    }
    to {
        transform: scale(1);
        opacity: 1;
    }
}

.btn-features_content {
    padding: 3px 8px 3px 8px;
    font-weight: 200;
    font-size: 14px;
}

.listen-feature {
    position: absolute;
}

.listen-btn:hover + .listen-feature {
    display: block;
    animation: featuresEmerge ease-in 0.2s;
    /* animation-delay: 0.1s; */
}

.copy-features {
    position: absolute;
    top: 118%;
    right: -25px;
    color: white;
    background-color: rgb(70 65 65);
    border-radius: 4px;
    box-shadow: 2px 2px 3px #ccc;
    display: none;
    width: 109px;
}

.copy-btn:hover + .copy-features {
    display: block;
    animation: featuresEmerge ease-in 0.2s;
    /* animation-delay: 0.1s; */
}

#voice-btn {
    cursor: pointer;
}

.dropdown {
    position: relative;
    display: inline-block;
  }

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f6f6f6;
    min-width: 230px;
    max-height: 500px;
    overflow: auto;
    border: 1px solid #ddd;
    z-index: 1;
  }

  .dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
  }

  .dropdown a:hover {background-color: #ddd;}

  #fakeInput {
    box-sizing: border-box;
    background-repeat: no-repeat;
    font-size: 0px;
    border: none;
  }